#input {
    margin: 5px;
    border-radius: 0px;
    border: none;
    border-bottom: 3px solid black;
    background-color: #333333;
    color: white;
}

#inner-box {
    background-color: #333333;

}

#outer-box {
    margin: 5px;
    background-color: #333333;
}

#text {
    padding: 5px;
    color: white;
}

#entry:nth-child(even){
    background-color: #3f3f3f;
}

#entry:selected {
    background-color: #e25252;
}