.notification-background {
  background: transparent;
  margin: 18px 18px 0 0;
  padding: 0;
}
.notification {
  background-color: @background;
}
.notification-background:hover .notification {
  background-color: @background-alt;
}

.notification-background .notification {
  padding: 7px;
  margin-right: 1px;
  border-radius: 10px;
}

.notification-background .notification.critical {
  box-shadow: inset 0 0 7px 0 red;
}
.notification-content {
  min-height: 3.4em;
  background-color: transparent;
}
.notification-content:hover {
  background-color: transparent;
}
.notification-default-action:hover { background-color: transparent; }
.notification-content .summary {
  color: @foreground;
}

.notification-content .time {
  color: @subtext0;
}

.notification-content .body {
  color: @subtext1;
}

.close-button {
  background-color: rgba(255, 255, 255, 0.2);
}

.close-button:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.close-button:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.notification .notification-action {
  border-radius: 7px;
  box-shadow: inset 0 0 0 1px @surface1;
  font-size: 0.2rem;
}

.notification .notification-action {
  background-color: transparent;
}

.notification .notification-action:hover {
  background-color: @surface1;
}

.notification .notification-action:active {
  background-color: @surface2;
}

.notification.critical progress {
  background-color: red;
}

.notification.low progress,
.notification.normal progress {
  background-color: #0ff;
}

.notification progress,
.notification trough,
.notification progressbar {
  border-radius: 11px;
  padding: 3px 0;
}

.notification-image {
  object-fit: contain;
}
.notification-image:disabled,
.notification-image[icon-size="0"],
.notification-image:empty {
  display: none;
}